.Cockpit button{
    border: 1px solid blue;
    background-color: green;
    padding: 16px;
    font: inherit;
    color: white;
}

.Cockpit button:hover{
    background-color: lightgreen;
    color:black;
}

.Cockpit button.Red{
    background-color: red;    
}

.Cockpit button.Red:hover{
    background-color: salmon;   
    color:black; 
}
