.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.Posts  > a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    width: 50%;
    display: flex;

}

.Posts  > a > .Post{
    width: 100%;
}